<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net472" />
  <package id="Open.Collections" version="3.1.2" targetFramework="net472" />
  <package id="Open.Disposable" version="2.6.0" targetFramework="net472" />
  <package id="Open.Disposable.ObjectPools" version="2.9.0" targetFramework="net472" />
  <package id="Open.Text" version="6.2.1" targetFramework="net472" />
  <package id="Open.Threading" version="2.2.1" targetFramework="net472" />
  <package id="Open.Threading.ReadWrite" version="2.0.2" targetFramework="net472" />
  <package id="Open.Threading.ReadWriteHelper" version="2.1.0" targetFramework="net472" />
  <package id="Open.Threading.Tasks" version="1.2.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Channels" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>